{% extends 'pixel_vault/navbar.html' %}

{% block content %}
<div class="container">
    <h1 style="color: #00dd00">Most Appreciated Games</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Game Name</th>
                <th>Average Score</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url "game-details" game.pk %}">{{ game.title }}</a></td>
                <td>{% if game.average_score %}{{ game.average_score|floatformat:2 }}/5{% else %}No reviews yet{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
