body {
    background-color: #200f2d;
}

h1 {
    color: #F0F8FFFF;
    text-decoration: underline;
}

h3 {
    color: #F0F8FFFF;
}

p {
    color: #F0F8FFFF;
}

.game-price {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    text-align: center;
}

.game-price-free {
    color: #28a745 !important;
    font-weight: bold;
}

.game-price-money {
    color: #ff0000;
}

.system-requirements {
    color: #ffdd00;
    text-decoration: underline;
}

.pegi {

    color: #ff0000;
    margin-top: 30px;
    padding: 3px;
    text-align: center;
    font-size: 20px;
    width: auto;
    display: inline-block;
}


.misc {
    color: #a7288e;
}

.container {
    margin: 20px;
}

.badge {
    margin: 5px;
    background-color: #282c34;
    color: #fff;
    border-radius: 12px;
    font-size: 14px;
}

.info {
    margin: 5px;
    background-color: #dec415;
    color: #000000;
    font-size: 20px;
}
